<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Recipes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>168193571CE15C6C00F0BAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1681936B1CE15C6C00F0BAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168193761CE15C6C00F0BAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
